body {
  font-family: "Segoe UI", sans-serif;
  background: #f1f8f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  color: #2e7d32;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #c8e6c9;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.center {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #c8e6c9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0f2f1;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.hadir {
  background: #66bb6a;
  color: white;
}

.tidak {
  background: #ef5350;
  color: white;
}

.success {
  color: #2e7d32;
  font-weight: bold;
}

.note {
  font-size: 14px;
  color: #555;
}
